body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
  background: #e5e5e5;
}

:root {
  --brand-color-black: #000000;
  --brand-color-light-black: #212121;
  --brand-color-gray: #757575;
  --brand-color-light-gray: #f5f4fa;
  --brand-color-white: #ffffff;
  --brand-color-blue: #2196f3;
  --brand-background-color-gray: #2f303a;
}

.logo-web {
  color: var(--brand-color-blue);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-studio {
  color: var(--brand-color-black);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo {
  text-decoration: none;
}

.body-bookmark:hover,
.body-bookmark:focus {
  display: inline;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--brand-color-blue);
}

.main-first-section {
  background-color: var(--brand-background-color-gray);
  color: var(--brand-color-white);
  text-align: center;
}

.main-btn:hover,
.main-btn:focus {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: inline;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--brand-color-white);
  background-color: var(--brand-color-blue);
}

.main-txt-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color-light-black);
}

.main-long-txt {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--brand-color-gray);
}

.main-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--brand-color-light-black);
}

.main-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color-light-black);
}

.main-position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--brand-color-gray);
}

.footer {
  width: 1600px;
  height: 252px;
  background-color: var(--brand-background-color-gray);
}

.footer-logo1 {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--brand-color-blue);
}

.footer-logo2 {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--brand-color-white);
}

.footer-address:hover,
:focus {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--brand-color-white);
}

.footer-contact:hover,
:focus {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* Portoflio - main */
.main-project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--brand-color-light-black);
}

.main-category {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--brand-color-gray);
}
